* {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 12pt;
  text-indent: 1cm;
  text-align: justify;
  margin-bottom: 0ch;
}

h1 {
  text-align: center;
  line-height: 2em;
  page-break-before: always;
}

h1.header {
  page-break-before: avoid;
}

h2 {
  text-align: justify;
  font-size: 12pt;
  text-indent: 0cm;
  font-weight: bold;
  margin-bottom: 0.5ch;
  margin-top: 0.5ch;
}

h3 {
  text-align: justify;
  text-indent: 1cm;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 0.5ch;
  margin-top: 0.5ch;
}

h4 {
  text-align: justify;
  text-indent: 1cm;
  font-style: italic;
  font-size: 12pt;
  margin-bottom: 0.5ch;
  margin-top: 0.5ch;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5ch;
  margin-top: 0.5ch;
}

@media print {
  p.space {
    margin-bottom: 50%;
  }

  @page {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
  }
}